ul.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
  }

  ul li{
      float:left;
      margin:10px;
      padding: 30px;
  }

  .numbersearchbar{
      text-align:center;
     
  }

  .namesearchbar{
    text-align:center;
}

.submitNumberButton{
    text-align: center;
}
.submitNameButton{
    text-align: center;
}


  .card{
      padding-top: 5%;
      height: 380px;
      width: 280px;
      box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2)
  }
  
 

  .description{
      text-align: center;
  }

  .card hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
  }

  .card img{
      width: fit-content;
      height: fit-content;
  }

  .card{
    text-align: center
  }

 