ul.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
  }

  ul li{
      float:left;
      margin:10px;
      padding: 30px;
  }
  .header{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
  }
  .numbersearchbar{
      text-align:center;
     
  }

  .namesearchbar{
    text-align:center;
}

.submitNumberButton{
    text-align: center;
}
.submitNameButton{
    text-align: center;
}


  .card{
      padding-top: 5%;
      height: 400px;
      width: 290px;
      box-shadow: 0 4px 20px 0 rgba(0,0,0,0.9);
      background-color: antiquewhite;
      text-align: center;
     color: black;
    border-radius: 5%;
  }

  .newCard{
    padding-top: 5%;
    height: 400px;
    width: 290px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.9);
    background-color: rgb(72, 195, 199);
    text-align: center;
   color: black;
  border-radius: 5%;
}

  
 .references{
     text-align: center;
     display: block;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

  .description{
      text-align: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif ; 
  }

  #appearance{

    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    padding-bottom: 10%;
    
  }

  .pokemonnumber{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
  }

  .card img{
      width: fit-content;
      height: fit-content;
      border: 4px solid #555;
      border-radius: 10%;
      background-color: white;
      
  }
  .divCardImage{
    width: fit-content;
    height: fit-content;
    border: 4px solid #555;
    border-radius: 10%;
    background-color: white;
  }
  
  #newDiv{
    background-color: aquamarine;
  }

  

  

 